<div class="card--custom">
  <h3 class="text-center"><strong>Application Form</strong></h3>
  <form action="">
    <div class="form-group">
      <label for="">Reg No<span>*</span></label>
      <input type="text" name="regno" class="form-control" required>
    </div>
    <div class="form-group isflex">
      <label for="">Shift</label>
      <div class="radio-group">
        <label for="morning">
          Morning
          <input type="radio" id="morning" name="shift" value="morning">
        </label>
        <label for="evening">
          Evening
          <input type="radio" id="evening" name="shift" value="evening">
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Department <span>*</span></label>
      <input type="text" name="dpt" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Name <span>*</span></label>
      <input type="text" name="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Father Name <span>*</span></label>
      <input type="text" name="fname" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Cnic <span>*</span></label>
      <input type="text" name="cnic" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Attach Cnic Copy <span>*</span></label>
      <input type="file" name="cnicimage" required accept=".png, .jpg, .jpeg" multiple class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Attach 2 Pics <span>*</span></label>
      <input type="file" name="headshots" required accept=".png, .jpg, .jpeg" multiple class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Attach Matric Certificate <span>*</span></label>
      <input type="file" name="certificate" required class="form-control" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary">
    </div>
  </form>
</div>
  